<p style="color: green"><%= notice %></p>

<%= render @patient %>

<div>
  <%= link_to "Назад", patients_path, class: "btn btn-link" %>|
  <%= link_to "Редактировать", edit_patient_path(@patient), class: "btn btn-link" %>

  <%= button_to "Удалить", @patient, method: :delete, class: "btn btn-danger" %>
</div>


<h1>Анализы пациента</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <th scope="row"><%= analysis.id %></th>
        <td><%= analysis.name %></td>
        <td><%= analysis.description %></td>

        <td>
          <div class="d-flex flex-row mb-3">
            <%= link_to "Показать", analysis_path(analysis), class: "btn btn-light" %>
            <%= link_to "Редактировать", edit_analysis_path(analysis), class: "btn btn-light" %>
            <%= button_to "Удалить", analysis, method: :delete, class: "btn btn-danger" %>
          <div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Новый анализ", new_analysis_path, params: { patient_id: @patient.id }, class: "btn btn-primary" %>
